<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NOL 2021</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>InicioAlu</servlet-name>
    <servlet-name>InicioProf</servlet-name>
    <servlet-name>Alumno</servlet-name>
    <servlet-name>Asignaturas</servlet-name>
    <servlet-name>Expediente</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioAlu</display-name>
    <servlet-name>InicioAlu</servlet-name>
    <servlet-class>InicioAlu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioAlu</servlet-name>
    <url-pattern>/InicioAlu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioProf</display-name>
    <servlet-name>InicioProf</servlet-name>
    <servlet-class>InicioProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioProf</servlet-name>
    <url-pattern>/InicioProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asignaturas</display-name>
    <servlet-name>Asignaturas</servlet-name>
    <servlet-class>Asignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asignaturas</servlet-name>
    <url-pattern>/Asignaturas</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DEWAlu</web-resource-name>
      <url-pattern>/InicioAlu</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DEWProf</web-resource-name>
      <url-pattern>/InicioProf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Si deseas entrar aqui debes ser un alumno de la UPV!</realm-name>
  </login-config>
  <error-page>
    <error-code>401</error-code>
    <location>/index.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Alumno</display-name>
    <servlet-name>Alumno</servlet-name>
    <servlet-class>Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alumno</servlet-name>
    <url-pattern>/Alumno</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>DirFotos</param-name>
    <param-value>/WEB-INF/imgs</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>BuscaFoto</display-name>
    <servlet-name>BuscaFoto</servlet-name>
    <servlet-class>BuscaFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaFoto</servlet-name>
    <url-pattern>/BuscaFoto</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Logger</display-name>
    <filter-name>Logger</filter-name>
    <filter-class>Logger</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Logger</filter-name>
    <servlet-name>InicioAlu</servlet-name>
    <servlet-name>InicioProf</servlet-name>
    <servlet-name>Alumno</servlet-name>
    <servlet-name>Asignaturas</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OperacionNota</display-name>
    <servlet-name>OperacionNota</servlet-name>
    <servlet-class>OperacionNota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperacionNota</servlet-name>
    <url-pattern>/OperacionNota</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Expediente</display-name>
    <servlet-name>Expediente</servlet-name>
    <servlet-class>Expediente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expediente</servlet-name>
    <url-pattern>/Expediente</url-pattern>
  </servlet-mapping>
</web-app>